<app-navbar></app-navbar>
<main class="pt-24 flex flex-col  justify-center">

    <div class=" pt-12   flex flex-col md:flex-row justify-center">
        <div class="flex justify-center  ">

            <img src=" ./../../../../assets/img/mia.jpg" class="hover:animate-bounce rounded-full" alt="">
        </div>
        <div class="  flex justify-center text-center flex-col ml-4 ">
            <h1 class="font-sans  text-2xl">Hola! Soy</h1>
            <h1 class="font-sans font-bold text-3xl">Maria Fernanda Palencia</h1>
            <h1 class="font-sans  text-xl dev">Desarrolladora Frontend</h1>
            
           
        </div>
    </div>
 
    <div class="pt-10 grid grid-cols-6 gap-4 text-center content-center justify-center " >
        <div class="col-start-2 col-span-4 text-justify  flex flex-col"   >
            <p >Soy una apasionada desarrolladora frontend con un profundo amor por la creación de experiencias web . Mi enfoque va más allá de escribir código; se trata de dar vida a ideas y convertirlas en realidades digitales que cautiven y sorprendan a los usuarios</p>
            <a class="mt-4 pt-2 w-28 h-10 p-2 rounded-full bg-blue-400 border-3 border-solid border-slate-100 font-sans" href="assets/document/Maria_Fernanda.pdf" role="button" download="Maria_Fernanda.pdf">Descargar CV</a>
        </div>
    </div>

 

</main>
 <app-section></app-section> 

<app-article></app-article>
<app-footer></app-footer> 
