.dev{
    float: left;
    position: relative;
}
.dev::after{
    content: '';
    border-left: 4px solid black;
    background: white;
    right: 0;
    height: 100%;
    position: absolute;
    animation: maquina 10s infinite alternate steps(10); 
}

@keyframes maquina{
    from{
        width: 100%;
    }to{
        width: 10%;
    }
}